
/* .principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
} */

/* tarjeta 1 */
/* .card-header {
    background: linear-gradient(-90deg,#BF019F,#f28a57);
    box-shadow: 1px 5px 15px #a2a2a2;
    height: 50x;
    margin-top: 10px;
} */

/* tarjeta 2 */
/* .card-header {
    background: linear-gradient(-90deg,#8e2de2,#4a00e0);
    box-shadow: 1px 7px 15px #a2a2a2;
    height: 120x;
    margin: -25px -25px 0px -25px;
}
 */
/* tarjeta 3 */
/* .car-header__patient {
    background: linear-gradient(-90deg,#BF019F,#f28a57);
    box-shadow: 1px 5px 15px #a2a2a2;
    height: 120x;
    margin-top: -25px;
}

.card-body__patient {
    background:#a2a2a2;
    box-shadow: 1px 5px 15px #a2a2a2;
    height: 120x;
    margin-bottom: 30px;
}

.card-section{
    box-shadow: 0 2px 5px 0 rgba (0,0,0,.16) 0 2px 10px rgba(0,0,0,.12);
}

.card:hover{
    box-shadow: 1px 1px 20px #d2d2d2;
} */