body{
    background: linear-gradient(to bottom, #f1f4f9, $primary);
}

.grid-cards{
  display: grid;
  width:100%;
  height: 200vh;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);

  grid-template-areas:	"card-1 card-3 card-3 card-4  card-7"
                        "card-2 card-5 card-6 card-6  card-7"
                        "card-8 card-9 card-9 card-11 card-12"
                        "card-8 card-10 card-10 card-11 card-12";
}

.cards {
  padding: 0.5rem;
  border-radius: 7px;  
}

.cardsystem {
  position: relative;
  right: 0;
  left: 0;
  height: 100%;
}

.card__name{
  display:flex;
  justify-content: left;
  padding-bottom: 5px;
}

.card__text{
  display:flex;
  flex-direction: column;
  justify-content:center;
}

.identifier{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border-radius: 10px;
  color: white;
  width: 10%;
  height: 10%;
  margin-top:1px;
}

.name__text{
  font-size: 1rem;
  color: $light-grayish-blue;
}

.title__text{
  margin:0;
  color: white;
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
}

.description__text{
  margin: 0;
  color: $light-gray;
  font-size: 14px;
  z-index: 2;
}

.name__text--black{
  font-size: 1rem;
  color: $very-dark-blackish-blue;
}

.title__text--black{
  margin:0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
}

.description__text--black{
  margin: 0;
  color: $very-dark-blackish-blue;
  font-size: 14px;
  z-index: 2;
}

.ico-system {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  width: 8rem;
  height: 8rem;
  opacity: 0.3;
}

.cards-1{
  background-color: $moderate-violet;
  grid-area: card-1;
  
}

.cards-2{
  background-color: $very-dark-grayish-blue;
  grid-area: card-2;
  
  
}

.cards-3{
  background-color: white;
  grid-area: card-3;
 
}

.cards-4{
  background-color: $very-dark-blackish-blue;
  grid-area: card-4;
  
}

.cards-5{
  background-color: $very-dark-blackish-blue;
  grid-area: card-5;
  
}

.cards-6{
  background-color: $moderate-violet;
  grid-area: card-6;
  
}

.cards-7{
  background-color: $very-dark-grayish-blue;
  grid-area: card-7;
  
  
}

.cards-8{
  background-color: $moderate-violet;
  grid-area: card-8;
 
}
.cards-9{
  background-color: $very-dark-grayish-blue;
  grid-area: card-9;
  
}

.cards-10{
  background-color: $very-dark-blackish-blue;
  grid-area: card-10;
  
}

.cards-11{
  background-color: $moderate-violet;
  grid-area: card-11;
  
}

.cards-12{
  background-color: $very-dark-grayish-blue;
  grid-area: card-12;
  
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width:768px) {
  .grid-cards{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
    height: 600vh;
    grid-template-areas:
    "card-1 card-1 card-2 card-2"
    "card-3 card-3 card-4 card-4"
    "card-5 card-5 card-6 card-6"
    "card-7 card-7 card-8 card-8"
    "card-9 card-9 card-10 card-10"
    "card-11 card-11 card-12 card-12"
  }
}

@media screen and (max-width:500px) {
  .grid-cards{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 100%;
    height: 1200vh;
    grid-template-areas:
    "card-1 card-1 card-1 card-1"
    "card-2 card-2 card-2 card-2"
    "card-3 card-3 card-3 card-3"
    "card-4 card-4 card-4 card-4"
    "card-5 card-5 card-5 card-5"
    "card-6 card-6 card-6 card-6"
    "card-7 card-7 card-7 card-7"
    "card-8 card-8 card-8 card-8"
    "card-9 card-9 card-9 card-9"
    "card-10 card-10 card-10 card-10"
    "card-11 card-11 card-11 card-11"
    "card-12 card-12 card-12 card-12"
  }
}