
// PATRÓN DE COLORES 
$principal: #1c4e92;
$dark-grey: #afadb4a4;
$light-grey: #d8d8d8;


// MODIFICACION DE BOOTSTRAP

$primary:           $principal;
$secondary:         $dark-grey;

$enable-rounded:    true;
$enable-shadows:    true;
$enable-gradients:  true;



