
// PATRÓN DE COLORES 
$background: rgb(117, 65, 200);
$background1: rgba(88, 88, 88, 0.643);

$principal: rgb(28, 78, 146);
$terciario: rgba(117, 65, 200, 0.815);


$dark-gray: rgba(175, 173, 180, 0.643);
$light-gray: rgb(216, 216, 216);

$very-dark-grayish-blue: rgb(46, 95, 173);
$very-dark-blackish-blue: hsl(219, 29%, 14%);

$light-grayish-blue: rgb(236, 242, 248);

$moderate-violet: rgb(117, 65, 200);


// MODIFICACION DE BOOTSTRAP

$primary:           $principal;
$secondary:         $dark-gray;


$enable-rounded:    true;
$enable-shadows:    true;
$enable-gradients:  true;



